/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #020617;
}

/* body styling etc. */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  background: #020617;
  color: #f9fafb;
}
